<div class="landing">
    <div class="left-side">
        <h1>Edwin Oloño García</h1>
    <h2>Desarrollador Fullstack Angular Java</h2>
    <p>Experiencia en desarrollo de aplicaciones web, microservicios, machine learning y aplicaciones móviles. Con 4
        años de experiencia en frontend usando Angular, y conocimientos en backend con Java, Node.js y bases de datos
        relacionales.</p>
    </div>
    <div class="right-side">
        <img src="../../assets/profile.jpg" class="img">
    </div>
    
</div>