<div class="proyectos">
  <h1>Proyectos Profesionales</h1>
  
  <div class="accordion">
    <div class="proyecto-item">
      <div class="left-side">
        <h3 class="proyecto-titulo">MVSHUB DISH México | Frontend Developer</h3>
        <p><b>MVS HUB</b> es una plataforma de contratación de paquetes de canales de streaming que permite a los usuarios escoger libremente
          entre una variedad de plataformas su combinación favorita ahorrando mucho más y teniendo todo concentrado en una sola
          plataforma central, facil de manejar y totalmente personalizable.</p>
          <a href="https://info.mvshub.com.mx/">
            https://info.mvshub.com.mx/
          </a>
      </div>
      <div class="right-side">
        <div class="proyecto-imagen">
          <img src="../../assets/mvs.png" alt="Proyecto DISH México">
        </div>
      </div>
    </div>

    <div class="proyecto-item">
      <div class="left-side">
        <h3 class="proyecto-titulo">SIPSE Mejoredu | Backend Developer</h3>
        <p class="proyecto-descripcion">Sistema de Planeación y Seguimiento a la Educación <b>(SIPSE)</b> es una plataforma que se encarga de integrar
          la planificación, desarrollo y control de presupuesto de los programas de ayuda a la mejora continua de la educación en México, de tal forma que
          el organismo independiente MEJOREDU sea capas de tener un control mayor sobre sus actividades y facilite el manejo anual de las mismas.
        </p>
      </div>
      <div class="right-side">
        <div class="proyecto-imagen">
          <img src="../../assets/SIPSE.jpg" alt="Proyecto SEP Mejoredu">
        </div>
      </div>
    </div>
  </div>

  <h1>Proyectos Personales</h1>

  <div class="accordion">
    <div class="proyecto-item" style="height: 450px;">
      <div class="left-side">

        <h3 class="proyecto-titulo">Sistema de Gestión de Personal</h3>
        <p class="proyecto-descripcion">Aplicación mobil para gestionar la entrada y salida de los profesores por medio del reconicimiento
          de OCR de imágenes de tarjetas con horas impresas, la cual permite al personal administrativo llevar un control simplificado 
          de las horas labooradas por su personal. Esta aplicación integra un modelo de google vision que se encarga de identificar y contabilizar el total de horas.
        </p>
        <ul>
          <li>Reconocimiento de texto (OCR)</li>
          <li>Administración de usuarios</li>
          <li>Encriptación de datos personales</li>
          <li>Modelo de reconocimiento de imágenes</li>
          <li>Restful API</li>
        </ul>
      </div>
      <div class="proyecto-imagen" style="width: max-content;">
        <div class="right-side">
          <img src="../../assets/mobile1.jpg" alt="Proyecto Gestión Personal" class="img1">
          <img src="../../assets/mobile2.jpg" alt="Proyecto Gestión Personal"  class="img1">
          <img src="../../assets/mobile3.jpg" alt="Proyecto Gestión Personal"  class="img1">
        </div>
      </div>
    </div>

    <div class="proyecto-item">
        <div class="left-side">
  
          <h3 class="proyecto-titulo">Aplicación web para agente de reconocimiento para ruta más óptima</h3>
          <p class="proyecto-descripcion">Esta aplicación web contiene un algoritmo de inteligencia artificial que utiliza el algritmo de estrella para encontrar la tuta más optima en un mapa que simula distintos tipos de terreno
          </p>
          <p>Este algoritmo asigna un valor a las posibles rutas deacuerdo a la condición del terreno y toma la decisión de ir por el camino con menor coste. Toma en cuenta la distancia de su objetivo 
            y al final entrega la mejor ruta posible.
          </p>
          
          <ul>
            <li>Reconocimiento de texto (OCR)</li>
            <li>Administración de usuarios</li>
            <li>Encriptación de datos personales</li>
            <li>Modelo de reconocimiento de imágenes</li>
            <li>Restful API</li>
          </ul>
        </div>
        <div class="proyecto-imagen">
          <div class="right-side">
            <img src="../../assets/app.png" alt="Proyecto Gestión Personal">
          </div>
        </div>
    </div>
</div>
