<div class="acerca-de">
    <h2>Acerca de Mí</h2>
    <p>Soy Edwin Oloño García, un desarrollador Fullstack con más de 4 años de experiencia en el desarrollo de aplicaciones web y backend. Me apasiona construir soluciones eficientes que optimicen procesos y mejoren la experiencia del usuario. Mi objetivo profesional es seguir aprendiendo y mejorando mis habilidades para crear productos de alta calidad que tengan un impacto positivo.</p>
  
    <h3>Habilidades Blandas</h3>
    <ul>
      <li>Trabajo en equipo</li>
      <li>Liderazgo</li>
      <li>Comunicación efectiva</li>
      <li>Resolución de problemas</li>
      <li>Adaptabilidad</li>
      <li>Inteligencia emocional</li>
      <li>Mentalidad de crecimiento</li>
    </ul>
  
    <h3>Estudios</h3>
    <ul>
      <li><strong>Ingeniería en Sistemas Computacionales</strong> - Escuela Superior de Cómputo (ESCOM), Instituto Politécnico Nacional (IPN)</li>
      <li><strong>Técnico en Sistemas Digitales</strong> - Centro de Estudios Científicos y Tecnológicos No. 9 (Cecyt 9), Instituto Politécnico Nacional (IPN)</li>
    </ul>
  
    <h3>Pasatiempos</h3>
    <p>Cuando no estoy programando, disfruto de varias actividades que me ayudan a desconectar y mantener el equilibrio. Algunos de mis pasatiempos incluyen:</p>
    <ul>
      <li>Leer libros de ficción</li>
      <li>Ir al gimnasio</li>
      <li>Explorar nuevas tecnologías</li>
      <li>Jugar videojuegos</li>
      <li>Ir al cine</li>
      <li>Salir con mis amigos</li>
    </ul>
  </div>
  