<div class="habilidades">
    <h2>Perfil Profesional</h2>
    <p>Soy un desarrollador Fullstack con un enfoque en la construcción de soluciones digitales eficientes y escalables.
        Me especializo en el desarrollo frontend con Angular y backend con Java y Node.js, aplicando buenas prácticas
        como SOLID y metodologías ágiles como Scrum. Mi experiencia abarca tanto proyectos personales como profesionales
        en sectores de tecnología, educación y medios. Estoy comprometido con el crecimiento continuo y la entrega de
        productos de alta calidad, adaptándome a las nuevas tecnologías y herramientas en el ecosistema de desarrollo.
    </p>

    <h2>Mis Habilidades Técnicas</h2>
    <div class="two-columns">
        <div class="left">
            <div class="skill-item">
                <img src="../../assets/angular.png" alt="Angular">
                <div class="skill-content">
                    <h3>Angular</h3>
                    <p>Con más de 4 años de experiencia en desarrollo frontend, uso Angular para crear aplicaciones web
                        dinámicas, reactivas y bien estructuradas. He trabajado en proyectos complejos, integrando APIs,
                        manejando rutas, y optimizando la experiencia del usuario.</p>
                </div>
            </div>

            <div class="skill-item">
                <img src="../../assets/react.png" alt="React">
                <div class="skill-content">
                    <h3>React</h3>
                    <p>Desarrollo interfaces de usuario interactivas con React, aplicando técnicas como el manejo
                        eficiente del
                        estado con Redux y optimizando la interacción con APIs RESTful. También he creado componentes
                        reutilizables y aplicaciones single-page de alto rendimiento.</p>
                </div>
            </div>

            <div class="skill-item">
                <img src="../../assets/spring.png" alt="Java">
                <div class="skill-content">
                    <h3>Java y Spring Boot</h3>
                    <p>Utilizo Java y Spring Boot en la creación de microservicios robustos y escalables. Me especializo
                        en la
                        implementación de arquitecturas basadas en APIs RESTful, gestionando bases de datos y aplicando
                        principios SOLID para mantener código limpio y mantenible.</p>
                </div>
            </div>

            <div class="skill-item">
                <img src="../../assets/docker.png" alt="Docker">
                <div class="skill-content">
                    <h3>Docker</h3>
                    <p>Utilizo Docker para crear entornos de desarrollo y producción reproducibles. Creo contenedores
                        ligeros
                        que encapsulan aplicaciones y sus dependencias, facilitando la implementación y escalabilidad en
                        la
                        nube. También configuro redes y volúmenes para optimizar la estructura de los microservicios.
                    </p>
                </div>
            </div>

            <div class="skill-item">
                <img src="../../assets/gcp.png" alt="GCP">
                <div class="skill-content">
                    <h3>Google Cloud Platform (GCP)</h3>
                    <p>Con experiencia en GCP, gestiono despliegues en la nube y la integración de servicios como Google
                        Kubernetes Engine, Cloud Storage y Cloud Functions. También administro infraestructura en la
                        nube utilizando Terraform y realizo implementaciones automatizadas.</p>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="skill-item">
                <img src="../../assets/flask.png" alt="Flask">
                <div class="skill-content">
                    <h3>Flask</h3>
                    <p>Desarrollo aplicaciones backend ligeras con Flask, principalmente para servicios API REST.
                        Utilizo Flask para crear prototipos rápidos y soluciones escalables, integrando bases de datos
                        como MySQL o PostgreSQL y manejando autenticación de usuarios.</p>
                </div>
            </div>

            <div class="skill-item">
                <img src="../../assets/mysql.png" alt="MySQL">
                <div class="skill-content">
                    <h3>MySQL</h3>
                    <p>Tengo experiencia en la creación y optimización de bases de datos relacionales con MySQL. He
                        trabajado en la normalización de esquemas, optimización de consultas, y manejo de transacciones
                        para asegurar la integridad de los datos en aplicaciones críticas.</p>
                </div>
            </div>

            <div class="skill-item">
                <img src="../../assets/aws.png" alt="AWS">
                <div class="skill-content">
                    <h3>AWS</h3>
                    <p>Con experiencia en AWS, manejo despliegues en la nube, utilizando servicios como EC2, S3 y Lambda
                        para
                        desarrollar soluciones escalables. También monitoreo aplicaciones usando CloudWatch y configuro
                        infraestructuras seguras y optimizadas.</p>
                </div>
            </div>

            <div class="skill-item">
                <img src="../../assets/node.png" alt="Node.js">
                <div class="skill-content">
                    <h3>Node.js</h3>
                    <p>Desarrollo APIs backend utilizando Node.js, creando servicios rápidos y eficientes. Integro
                        aplicaciones
                        con bases de datos como MySQL y PostgreSQL, y manejo autenticación de usuarios y gestión de
                        sesiones de
                        manera segura.</p>
                </div>
            </div>
        </div>
    </div>



</div>